body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.container {
  padding-top: 50px;
}

/* todoitem */

.todoItem li {
  display: flex;
  justify-content: space-between;
}
.todoItem li span {
  flex: 1;
}
